## Initial Setup

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dataloader import read_activity
import pandas as pd
import numpy as np

## Load a workout

In [3]:
# https://www.strava.com/activities/5094620458/overview 
points, laps, events = read_activity("data/activities/5431221291.fit")

In [4]:
points#[100:110]

,Timestamp,speed,cadence,x,y,time_after_start,track_x,track_y,dist_to_track
0,2021-04-05 23:18:05+00:00,2.118,171.0,-305.026780,-238.728933,239.0,-30.682623,-61.964335,326.359371
1,2021-04-05 23:18:13+00:00,3.256,172.0,-288.644511,-216.986970,247.0,-31.221627,-61.101612,300.94316
2,2021-04-05 23:18:19+00:00,3.312,174.0,-275.583317,-201.384275,253.0,-31.605895,-60.451982,281.756798
3,2021-04-05 23:18:21+00:00,3.303,174.0,-270.658626,-199.316910,255.0,-31.566554,-60.519919,276.459081
4,2021-04-05 23:18:27+00:00,3.406,174.0,-249.872221,-199.467772,261.0,-30.890518,-61.637887,258.747102
...,...,...,...,...,...,...,...,...,...
222,2021-04-05 23:48:13+00:00,3.331,170.0,-596.542734,-108.329079,2047.0,-36.277746,-46.216833,563.697426
223,2021-04-05 23:48:19+00:00,3.359,170.0,-618.092194,-106.227954,2053.0,-36.305695,-45.956188,584.900177
224,2021-04-05 23:48:25+00:00,3.406,170.0,-639.114877,-107.815189,2059.0,-36.309119,-45.922986,605.974774
225,2021-04-05 23:48:31+00:00,3.424,169.0,-658.967216,-110.225405,2065.0,-36.307031,-45.943262,625.969568
226,2021-04-05 23:48:35+00:00,3.368,169.0,-668.368306,-108.558270,2069.0,-36.321397,-45.801405,635.154879

In [5]:
laps

,Timestamp,start_pos_lat,start_pos_long,end_pos_lat,end_pos_long,total_timer_time,total_distance,avg_speed,lap_time,lap_distance,start_x,start_y,end_x,end_y,time_after_start,x,y
0,2021-04-05 23:34:44+00:00,-43.524427,172.571987,-43.521856,172.576163,NaN,NaN,1.741,1237.247,2153.65,627035.261021,5.179746e+06,627378.137332,5.180025e+06,1237.247,36.162886,39.026932
1,2021-04-05 23:35:14+00:00,-43.521841,172.576156,-43.522591,172.575273,NaN,NaN,6.655,29.740,197.93,627377.634466,5.180026e+06,627304.692877,5.179944e+06,1266.987,-37.281578,-41.213776
2,2021-04-05 23:37:01+00:00,-43.522652,172.575278,-43.521829,172.576152,NaN,NaN,1.561,106.812,166.72,627304.969559,5.179938e+06,627377.306914,5.180028e+06,1373.799,35.332468,42.050554
3,2021-04-05 23:37:30+00:00,-43.521808,172.576149,-43.522568,172.57533,NaN,NaN,6.658,29.235,194.65,627377.066856,5.180030e+06,627309.346908,5.179947e+06,1403.034,-32.627546,-38.778272
4,2021-04-05 23:39:09+00:00,-43.522626,172.57534,-43.521829,172.576161,NaN,NaN,1.607,99.272,159.57,627309.969332,5.179940e+06,627378.058650,5.180028e+06,1502.306,36.084205,42.026997
5,2021-04-05 23:39:39+00:00,-43.521811,172.576163,-43.522604,172.575284,NaN,NaN,6.652,29.936,199.14,627378.217800,5.180030e+06,627305.526013,5.179943e+06,1532.242,-36.448442,-42.663655
6,2021-04-05 23:41:20+00:00,-43.522604,172.575284,-43.521846,172.57615,NaN,NaN,1.485,100.999,150.03,627305.526013,5.179943e+06,627377.122608,5.180026e+06,1633.241,35.148162,40.191578
7,2021-04-05 23:41:49+00:00,-43.521821,172.576144,-43.522543,172.575281,NaN,NaN,6.953,28.494,198.12,627376.665535,5.180029e+06,627305.403193,5.179950e+06,1661.735,-36.571262,-35.909882
8,2021-04-05 23:48:37+00:00,-43.522602,172.575291,-43.523304,172.567483,NaN,NaN,2.26,406.732,919.39,627306.092302,5.179943e+06,626673.606144,5.179877e+06,2068.467,-668.368318,-108.558194

In [6]:
def predictor_200m(points):
    """Simple predictor for demonstration purposes
    Outputs any GPS points that are close to the 200m mark"""
    points_at_200m = points[(points.track_x == 36.5) & (points.track_y > 35) & (points.track_y < 55)]
    return points_at_200m.time_after_start.values


pred = predictor_200m(points)
print("Predicted:", pred)
print("Actual:   ", laps.time_after_start.values)

Predicted: [1231. 1233. 1238. 1369. 1497. 1632.]
Actual:    [1237.247 1266.987 1373.799 1403.034 1502.306 1532.242 1633.241 1661.735
 2068.467]

In [7]:
from eval import evaluate

evaluate(laps.time_after_start.values, pred)

13.621444444444402